* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Roboto', Sans-serif;
}

body {
	background-color: #fff;
}

/*********
Header
*********/

#top-bar {
	background-color: #f1f1f1;
	color: #333;
	height: 35px;
}

#top-bar ul li a {
	color: #333;
	line-height: 35px;
	font-size: 12px;
}

header {
	background-color: #fff;
}

header #logo {
	width: 200px;
}

header #header-inner {
	padding: 10px 15px;
}

header #phone-number {
	font-size: 21px;
	line-height: 55px;
	color: #c90005;
	letter-spacing: 2px;
	text-align: right;
}

header #phone-number a {
	color: #c90005;
}

#top-bar .top-car-nav {
	color: #333;
	font-size: 12px;
	line-height: 35px;
	padding: 15px 20px;
}

#top-bar .top-car-nav-active {
	background-color: #fff;
	font-size: 16px;
	color: #c90005;
}

header #trustpilot {
	height: 64px;
	margin: 0 auto;
	display: block;
}

#nav-bar {
    background-color: #333;
    height: 50px;
    border-top: 2px solid #c90005;
}

#main-nav {
	width: 100%;
}

#main-nav ul li{
	line-height: 47px;
	width: 19%;
	text-align: center;
	border-right: 1px solid #fff;
}

#main-nav ul li a {
	color: #fff;
	text-align: center;
	font-weight: bolder;
	font-size: 16px;
	transition: color 1s;
}

#main-nav ul li a .fas {
	padding-left: 15px;
	font-size: 18px;
}

#main-nav ul li a:hover {
	color: #c90005;
	text-decoration: none;
}

#modSearch p {
    line-height: 20px;
    padding: 10px 15px;
    margin-bottom: 0;
    padding-bottom: 2px;
}

#modSearch select {
    width: 250px;
    padding: 5px 10px;
}

#modSearch {
    padding: 10px 15px;
    border-bottom: 2px solid #c90005;
}


/**********
Footer
**********/

footer#footer {
	background-color: #333;
	padding: 25px 0;
}

footer#footer .footer-sec-one {
	color: #fff;
}

#footer-logo {
    width: 150px;
}

.lineone {
    font-size: 21px;
    padding: 10px 0 2px 0;
    margin: 0;
}

.linetwo {
    font-size: 28px;
    font-weight: bold;
    padding: 0;
}

.linetwo a {
	color: #fff;
}

.footer {
	padding: 15px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.footer-socials .fab {
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #fff;
    min-width: 42px;
    text-align: center;
}

.footer-sec-two h2 {
	text-align: left;
	font-weight: 700;
	font-size: 28px;
	color: #fff;
}

.footer-sec-two li a {
    color: #fff;
}

.footer-sec-three h2 {
	text-align: right;
	font-weight: 700;
	font-size: 28px;
	color: #fff;
}

.footer-sec-three label {
	color: #fff;
}

.footer-sec-three input {
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	margin: 10px 0 10px 0;
	width: 100%;
}

.footer-sec-three button {
	padding: 5px 10px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    font-size: 23px;
    margin: 0 0 10px 0;
    float: right;
}

.footer-sec-three form {
	width: 100%;
}


/**********
Dropdowns
**********/


.dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1;
    border-bottom: 3px solid #c90005;
}

.show-block, .show {
    display: block !important;
}


.manu-logo img {
	width: 50px;
}

.manu-logo {
	padding: 10px 15px;
	margin: 10px 15px;
	line-height: 20px!important;
}

.manu-logo a {
	color: #333!important;
	text-align: center!important;
	font-size: 9px!important;
}

a.manu-all {
	color: #333!important;
	font-size: 12px!important;
	font-weight: lighter!important;
	text-decoration: underline!important;
}

@media only screen and (max-width: 1000px) {
	#nav-bar {
		min-height: 50px;
		height: 100%;
	}
	#main-nav ul li {
		width: 100%;
		text-align: left;
		border-right: none;
		border-bottom: 1px solid #fff;
		padding: 0 20px;
	}
	.second-nav {
		display: none;
	}
	a.responsivenavopener {	
	    float: right;
	    line-height: 50px;
	    color: #fff;
	    padding-right: 20px;
	}
	#top-bar {
		display: none;
	}
	#logo {
		margin: 0 auto;
		display: block;
	}
	#phone-number {
		text-align: center!important;
	}
	.manu-logo {
		width: 40%!important;
	}
	#top-strap-ad-bottom-bar {
		min-height: 50px!important;
		height: 100%!important;
	}
	#top-strap-ad h1#main-heading {
		padding-top: 0!important;
	}
	#top-strap-ad {
		height: 100%!important;
	}
	.bottom-bar-pros {
		background-image: none!important;
		padding-left: 0!important;
	}
	#timeline {
		background-image: none!important;
		padding-left: 0!important;
		margin: 0!important;
	}
}

@media only screen and (min-width: 1000px) {
	.responsivenavopener {
		display: none;
	}
}


/*********
Car Slider
**********/




/**********
Homepage
**********/

#top-strap-ad {
	height: 550px;
	background: url(/wp-content/themes/BritanniaWP/img/bmw-m5.jpg); 
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    box-shadow: inset 0px 0px 200px 1px #2f2f2fb5;
}

#top-strap-ad h1#main-heading {
	font-size: 34px;
	color: #fff;
	padding-top: 150px;
	font-weight: 800;
}

#top-strap-ad span#main-subheading {
	color: #fff;
	font-size: 22px;
}

#top-strap-ad button#main-button {
	padding: 10px 15px;
	border: none;
	border-bottom: 3px solid #b00004;
	background-color: #de0308;
	color: #fff;
	border-radius: 5px;
	margin-top: 15px;
	transition: background-color 1s;
	margin-left: 0;
}

#top-strap-ad button#main-button:hover {
	background-color: #b00004;
}

#top-strap-ad-bottom-bar {
	background-color: #c90005;
	min-height: 50px;
	height: 100%;
}

.bottom-bar-pros-title {
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
}

.bottom-bar-pros-sub {
    color: #fff;
}

.bottom-bar-pros {
    background-image: url(/wp-content/themes/BritanniaWP/img/price.png);
    padding-left: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 5px;
    margin: 10px 0;
}


#main-content-wrapper {
	margin-top: 25px;
}

#main-content-wrapper h2 {
	font-weight: 800;
	letter-spacing: 2px;
	font-size: 32px;
}

#main-content-wrapper p {
	font-size: 14px;
	text-align: justify;
	line-height: 22px;
}

#main-content-wrapper h5 {
	font-weight: 800;
	letter-spacing: 2px;
	font-size: 14px;
	padding: 20px 0 0 0;
}

#timeline {
	background-image: url(/wp-content/themes/BritanniaWP/img/tick.svg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-left: 91px;
	margin: 50px 0;
}

#timeline:first-of-type {
	margin-top: 20px;
}

.timeline-title {
    font-weight: 800;
    color: #c90005;
    font-size: 18px;
    letter-spacing: 1px;
}

.timeline-text {
    line-height: 20px !important;
}

/************
4 Learn More
************/

.five-boxes {
	background-image: url(/wp-content/themes/BritanniaWP/img/scroll.png);
    min-height: 250px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    box-shadow: inset 0px 0px 200px 1px #2f2f2fb5;
}

.moreinfo-wrapper {
	background: #ddd;
	border-radius: 5px;
}

.moreinfo-wrapper img {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
}

.moreinfo-inner {
	padding: 10px 15px;
	margin: 0 0 10px 0;
}

.moreinfo-inner h3 {
	text-align: left;
	font-weight: 700;
	font-size: 22px;
	margin-top: 2px;
}

.moreinfo-inner p {
	text-align: left;
}

.learn-more-button {
    padding: 10px 15px;
    background-color: #de0308;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    border: none;
    border-bottom: 3px solid #b00004;
    transition: background-color 1s;
}

.learn-more-button:hover {
	background-color: #b00004;
}

/**********
Box Section
***********/

#special-offers {
	height: 250px;
	background-image: url(/wp-content/themes/BritanniaWP/img/special.jpg);
	padding: 15px 15px 0 0;
	box-shadow: inset -10px 0px 54px -21px rgba(0,0,0,0.75);
}

.special-offers-wrapper {
    width: 45%;
    float: right;
    bottom: 10px;
    border-right: 5px solid #c90005;
    padding: 0 15px;
    text-align: right;
    position: absolute;
    right: 10px;
}

.special-offers-title {
    color: #fff;
    font-size: 32px;
    font-weight: 800;
}

.special-offers-title-sub {
    color: #fff;
    font-size: 17px;
	letter-spacing: 3px;
}


#about-us {
	height: 250px;
	background-image: url(/wp-content/themes/BritanniaWP/img/about.jpg);
	padding: 15px 0 0 15px ;
	box-shadow: inset 10px 0px 54px -21px rgba(0,0,0,0.75);
}

.special-offers-wrapper-two {
    width: 45%;
    float: left;
    bottom: 0;
    border-left: 5px solid #c90005;
    padding: 0 15px;
    text-align: left;
}

.special-offers-title-two {
    color: #fff;
    font-size: 32px;
    font-weight: 800;
}

.special-offers-title-sub-two {
    color: #fff;
    font-size: 17px;
	letter-spacing: 3px;
}

#about-leasing {
	height: 280px;
	background-size: cover;
	padding: 15px 15px 0 0;
	box-shadow: inset 10px 0px 54px -21px rgba(0,0,0,0.75);
	background-image: url(/wp-content/themes/BritanniaWP/img/about.jpg);
}

.about-leasing-wrapper {
	text-align: right;
	border-right: 3px solid #c90005;
	padding: 0 15px;
	color: #fff;
}

.about-leasing-wrapper span.about-leasing-wrapper-title {
	color: #fff;
	font-size: 26px;
	font-weight: 800;
}

#van-leasing {
	height: 280px;
	background-size: cover;
	padding: 15px 15px 0 15px;
	box-shadow: inset 10px 0px 54px -21px rgba(0,0,0,0.75);
	background-image: url(/wp-content/themes/BritanniaWP/img/about.jpg);
}

.van-leasing-wrapper {
	text-align: left;
	border-left: 3px solid #c90005;
	padding: 0 15px;
	color: #fff;
	bottom: 10px;
	position: absolute;
}

.van-leasing-wrapper span.van-leasing-wrapper-title {
	color: #fff;
	font-size: 26px;
	font-weight: 800;
}

#electric-leasing {
	height: 280px;
	background-size: cover;
	padding: 15px 15px 0 0;
	box-shadow: inset 10px 0px 54px -21px rgba(0,0,0,0.75);
	background-image: url(/wp-content/themes/BritanniaWP/img/about.jpg);
}

.electric-leasing-wrapper {
	text-align: right;
	border-right: 3px solid #c90005;
	padding: 0 15px;
	color: #fff;
}

.electric-leasing-wrapper span.electric-leasing-wrapper-title {
	color: #fff;
	font-size: 26px;
	font-weight: 800;
}

#five-car-section {
	margin: 25px 0;
}

/**********
Home About
**********/

.about-leasing-heading {
    text-align: center;
	font-weight: 700;
	font-size: 28px;
}

#home-about-section p {
    margin: 20px 25px;
    text-align: justify;
    line-height: 22px;
}

#home-about-section h4{
	margin: 20px 25px;
	font-weight: 600;
	font-family: 'Roboto', Sans-serif;
}


.manulink img {
    padding: 10px 15px;
    width: 100%;
}

.manulink p {
    text-align: center;
    color: #333;
    font-weight: 600;
    text-decoration: underline;
}

button#main-button {
	padding: 10px 15px;
	border: none;
	border-bottom: 3px solid #b00004;
	background-color: #de0308;
	color: #fff;
	border-radius: 5px;
	margin-top: 15px;
	transition: background-color 1s;
	margin-left: 25px;
	margin-bottom: 20px;
}

button#main-button:hover {
	background-color: #b00004;
}

.manulink-title h3 {
	text-align: center;
	font-size: 26px;
}

.change-background {
	background-color: #f1f1f1;
}

/***********
FAQs
************/

.faqs {
	padding: 35px 0;
}

.faqs h2 {
	text-align: center;
	font-weight: 700;
	font-size: 28px;
}

.faq h3 {
	font-size: 20px;
	font-weight: 700;
}

.faq_question {
	margin: 0px;
	padding: 0px 0px 5px 0px;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
}

.faq_question h3 {
	font-size: 20px;

}

.faq_answer_container {
	height: 0px;
	overflow: hidden;
	padding: 0px;
}

.faq {
	border-bottom: 1px solid #333;
	margin: 25px 15px;
	padding: 15px 0;
}

.faqs a {
    padding: 10px 15px;
    color: #b00004;
    text-decoration: underline;
    font-size: 17px;
}

/***********
Testimonials
************/

.testimonials h2 {
	text-align: center;
	font-weight: 700;
	font-size: 28px;
	color: #fff;
}

.parallax {
    background-image: url(/wp-content/themes/BritanniaWP/img/scroll.png);
    min-height: 250px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    box-shadow: inset 0px 0px 200px 1px #2f2f2fb5;
}

/***********
Services
************/

.service-box {
    background-image: url(/wp-content/themes/BritanniaWP/img/service.jpg);
    padding: 90px 15px;
    margin: 10px;
    height: 100%;
}

.service-box h4 {
	color: #fff;
	text-align: center;
}

.service-box p {
	color: #fff;
	text-align: center;
}

.service-box a {
	padding: 10px 15px;
	margin: 60px 0;
	background-color: #de0308;
	color: #fff;
	border-radius: 5px;
	border-bottom: 4px solid #b00004;
	text-align: center;
	width: 100%;
	display: inline-block;
}

#testimonials {
    background-color: #c0c0c0;
    padding: 10px 15px;
    border-radius: 5px;
    border-bottom: 4px solid #838383;
}

#testimonials-bottom {
    height: 44px;
    width: 34px;
    background-color: #c0c0c0;
    margin: 0 25px;
    top: -4px;
    position: inherit;
    -webkit-clip-path: polygon(1px -6px, 61.76% -42px, 165.59% -83.09%, -32px 211.97%);
    clip-path: polygon(1px -6px, 61.76% -42px, 165.59% -83.09%, -32px 211.97%);
    border: 3px solid #838383;
    border-top-color: rgb(131, 131, 131);
    border-top-style: solid;
    border-top-width: 3px;
    border-top: none;
    right: 10px;
    color: #fff;
}

#blog-wrapper {
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    background-color: #f6f6f6;
    margin: 0 0 10px 0;
}

#blog-wrapper img {
	width: 100%;
}

#blog-wrapper h3 {
    padding: 0 10px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
}

#blog-wrapper p {
    padding: 0 10px;
    text-align: justify;
    padding-top: 0;
    font-size: 14px;
    line-height: 22px;
    color: #333;
}

#blog-wrapper a {
	text-decoration: none;
}

#blog-wrapper a:hover {
	text-decoration: none;
}

#blog-wrapper img:hover {

}

.blogger {
	margin-bottom: 50px;
}
